body {
    background-image: url('../assets/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
}

.navbar_img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s;
    background-color: #f8f9fa; 
    
}

.navbar_img:hover {
    transform: scale(1.1);
}